@import 'variables';

// GENERAL FORM CSS

.authform {
  padding-top: 30px;
  max-width: 375px;
  margin: 0 auto;
}

.grey-hint {
  font-size: 14px;
  color: $seconday-grey;
  margin-top: -7px;
  margin-bottom: 12px;
  font-weight: 300;
}

// LOGIN TEXT INPUT

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.input__field, .input__label, .grey-hint {
  font-family: 'Roboto', sans-serif;
}

.input__field {
  position: relative;
  display: block;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: $seconday-grey;
  font-weight: 300;
  font-size: 22px;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: $primary-grey;
  font-weight: 300;
  font-size: 18px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}

// ISAO STYLE

.input__field--isao {
  z-index: 10;
  padding: 0.75em 0.1em 0.25em;
  width: 100%;
  background: transparent;
  color: $lighter-paragraph-grey;
}

.input__label--isao {
  position: relative;
  overflow: hidden;
  padding: 0;
  width: 100%;
  color: #dadada;
  text-align: left;
}

.input__label--isao::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 7px;
  background: #dadada;
  -webkit-transform: scale3d(1, 0.4, 1);
  transform: scale3d(1, 0.4, 1);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__label--isao::after {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.75em 0.15em;
  color: $primary-grey;
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  pointer-events: none;
}

.input__field--isao:focus + .input__label--isao::before {
  background-color: $primary-grey;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.input__field--isao:focus + .input__label--isao {
  pointer-events: none;
}

.input__field--isao:focus + .input__label--isao::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.input__label-content--isao {
  padding: 0.75em 0.15em;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__field--isao:focus + .input__label--isao .input__label-content--isao {
  opacity: 0;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

// SUBMIT BUTTON

input:hover, input:focus {
  background-color:white;
}

#primary-button{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  cursor:pointer;
  border: #efefef solid 3px;
  background-color: #fff;
  color: lighten($primary-grey, 15%);
  font-size:22px;
  padding-top:16px;
  padding-bottom:16px;
  -webkit-transition: all 20ms;
  -moz-transition: all 20ms;
  transition: all 20ms;
  font-weight:300;
}

#primary-button:hover{
  background-color: $primary-grey;
  border: $primary-grey solid 3px;
  color: #fff;
}

#primary-button:active {
  -moz-box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.22);;
  -webkit-box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.22);;
  box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.22);;
}

.submit:hover {
  color: $primary-grey;
}

.ease {
  width: 0px;
  height: 74px;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

// FORM LINKS
.grey-links {
  margin-top: 30px;

  a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-bottom: 5px;
    border-bottom: 5px solid $tertiary-grey;
    -webkit-transition: border-bottom 40ms ease-out;
    -moz-transition: border-bottom 40ms ease-out;
    -o-transition: border-bottom 40ms ease-out;
    transition: border-bottom 40ms ease-out;
    color: lighten($primary-grey, 15%);
    &:hover, &:focus {
      text-decoration: none;
      color: $paragraph-grey;
      border-bottom: 5px solid #dfdfdf;
      -webkit-transition: border-bottom 40ms ease-out;
      -moz-transition: border-bottom 40ms ease-out;
      -o-transition: border-bottom 40ms ease-out;
      transition: border-bottom 40ms ease-out;
    }
  }
}

// SHITTY CHROME AUTOFILL OVERIDE

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
