@import 'variables';

.displayable, .editable {
  width: 800px;
  margin: 40px auto 0;

  a {
    border-bottom: 5px solid #eee;
    text-decoration: none;
    color: #222;
    -webkit-transition: border-bottom 40ms ease-out;
    -moz-transition: border-bottom 40ms ease-out;
    -o-transition: border-bottom 40ms ease-out;
    transition: border-bottom 40ms ease-out;
    &:hover {
      text-decoration: none;
      color: #222;
      border-bottom: 5px solid #dfdfdf;
      -webkit-transition: border-bottom 40ms ease-out;
      -moz-transition: border-bottom 40ms ease-out;
      -o-transition: border-bottom 40ms ease-out;
      transition: border-bottom 40ms ease-out;
    }
  }
}

.full-divider {
  border-top: 5px solid $secondary-grey;
}

.post-landing {
  position:relative;
  height: 100vh;
  right: 0;
  left: 0;
  -webkit-box-shadow: inset 0px -52px 273px 10px rgba(51,51,51,0.3);
  -moz-box-shadow: inset 0px -52px 273px 10px rgba(51,51,51,0.3);
  box-shadow: inset 0px -52px 273px 10px rgba(51,51,51,0.3);

  .post-details {
    position: relative;
    top: 83%;

    h5 {
      display: inline;
      text-shadow: 0px 0px 4px rgba(10, 10, 10, 0.8);
    }
    h5:first-child {
      float: left;
      padding-left: 20px;
    }
    h5:last-child {
      float: right;
      padding-right: 20px;
    }
  }

  .post-titles {
    position: relative;
    text-align: center;
    top: 45%;
    h1, h4 {
      color: #fff;
    }
    h1 {
      text-shadow: 0px 0px 6px rgba(10, 10, 10, 0.6);
      font-size: 60px;
      margin-top: 0;
    }
    h4 {
      text-shadow: 0px 0px 5px rgba(10, 10, 10, 0.6);
      font-size: 30px;
    }
  }
}
