// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.displayable, .editable {
  width: 800px;
  margin: 0 auto;

  a {
    border-bottom: 5px solid #eee;
    text-decoration: none;
    color: #222;
    -webkit-transition: border-bottom 40ms ease-out;
    -moz-transition: border-bottom 40ms ease-out;
    -o-transition: border-bottom 40ms ease-out;
    transition: border-bottom 40ms ease-out;
    &:hover {
      text-decoration: none;
      color: #222;
      border-bottom: 5px solid #dfdfdf;
      -webkit-transition: border-bottom 40ms ease-out;
      -moz-transition: border-bottom 40ms ease-out;
      -o-transition: border-bottom 40ms ease-out;
      transition: border-bottom 40ms ease-out;
    }
  }
}

.post-landing {
  height: 100vh;
  position:relative;
  right: 0;
  left: 0;
  -webkit-box-shadow: inset 0px -52px 273px 10px rgba(51,51,51,0.3);
  -moz-box-shadow: inset 0px -52px 273px 10px rgba(51,51,51,0.3);
  box-shadow: inset 0px -52px 273px 10px rgba(51,51,51,0.3);
  border-bottom: 5px solid #eee;
}
