@import 'variables';

.displayable {
  width: 800px;
  margin: 40px auto 0;

  a {
    border-bottom: 5px solid #eee;
    text-decoration: none;
    color: #222;
    -webkit-transition: border-bottom 40ms ease-out;
    -moz-transition: border-bottom 40ms ease-out;
    -o-transition: border-bottom 40ms ease-out;
    transition: border-bottom 40ms ease-out;
    &:hover {
      text-decoration: none;
      color: #222;
      border-bottom: 5px solid #dfdfdf;
      -webkit-transition: border-bottom 40ms ease-out;
      -moz-transition: border-bottom 40ms ease-out;
      -o-transition: border-bottom 40ms ease-out;
      transition: border-bottom 40ms ease-out;
    }
  }
}

.posts.new, .posts.edit {
    .post-landing {
      top: 14px;
      background: url(http://s27.postimg.org/jckhsreht/1392225140189.png);
    }

    .post-landing .post-details h5:last-child {
      top: -40px;
    }

    input[type="file"] {
      margin-top: 6px;
    }

    .full-divider {
      margin-top: 14px;
  }

  .controls {
    * {
      text-shadow: 0px 0px 6px rgba(10, 10, 10, 0.6);
    }
    input {
      background-color: rgba(255, 255, 255, 0.0);
      text-align: center;
      border: 0;
      width: 100%;
    }
  }
}

.post_username {
  color: #fff;
  &:hover {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  &:focus {
    color: #fff;
    text-decoration: none;
  }
}

.posts main {
  position: relative;
  top: -85px;
}

.full-divider {
  border-top: 5px solid $secondary-grey;
  margin-top: 85px;
}

.post-landing {
  position:relative;
  height: calc(100vh - 85px);
  top:85px;
  right: 0;
  left: 0;

  .post-details {
    position: absolute;
    bottom: 8px;
    width: 100%;
    height: 37px;

    h5 {
      position: absolute;
      display: inline;
      text-shadow: 0px 0px 4px rgba(10, 10, 10, 0.8);
    }
    h5:first-child {
      padding-left: 20px;
    }
    h5:last-child {
      padding-right: 20px;
      right: 0;
    }
  }

  .post-titles {
    position: relative;
    text-align: center;
    top: 45%;
    h1, h4 {
      color: #fff;
    }
    h1 {
      text-shadow: 0px 0px 6px rgba(10, 10, 10, 0.6);
      font-size: 60px;
      margin-top: 0;
    }
    h4 {
      text-shadow: 0px 0px 5px rgba(10, 10, 10, 0.6);
      font-size: 30px;
    }
  }
}
